<li id="entry-<%= entry.id %>">
  <%= link_to gravatar_for(entry.user, size: 50), entry.user %>
  <span class="user">Author: <%= link_to entry.user.name, entry.user %></span>
  <span class="body">
    <h3><%= entry.title %></h3>
  	<!-- <%= entry.body %> -->
    <%= truncate(entry.body, :length => 80) %>
  	<%= image_tag entry.picture.url if entry.picture? %>
    <%= link_to "read more", entry%>
  </span>
  <span class="timestamp" id="comments_count-<%= entry.id %>">
    <%= pluralize(entry.comments.count, "comment") %>
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(entry.created_at) %> ago.
    <% if current_user?(entry.user) %>
      <%= link_to "delete", entry, method: :delete, data: { confirm: "You sure?" } %>
    <% end %>
  </span>
</li>
