<li id="entry-<%= entry.id %>">
<div class="well">
    <div class="media">
    <%= link_to gravatar_for(entry.user, size: 100), entry.user %>
    <div class="media-body">
      <h4 class="media-heading"><%= entry.title %></h4>
      <p class="text-right">Author: <%= link_to entry.user.name, entry.user %></p>
      <p><%= truncate(entry.body, :length => 150) %><%= link_to "read more", entry%></p>
      <ul class="list-inline list-unstyled">
        <li>
          <span><i class="glyphicon glyphicon-calendar"></i>Posted <%= time_ago_in_words(entry.created_at) %> ago.</span>
        </li>
        <li>|</li>
        <span id="comments_count-<%= entry.id %>" >
          <i class="glyphicon glyphicon-comment"></i> <%= pluralize(entry.comments.count, "comment") %>
        </span>
        <li>|</li>
        <span>
        <% if current_user?(entry.user) %>
          <%= link_to entry, method: :delete, data: { confirm: "You sure?" }, :class => "btn btn-danger" do%>
            <i class="glyphicon glyphicon-trash">DELETE</i>
          <% end %>  
        <% end %>
        </span>
      </ul>
    </div>
  </div>
</div>
</li>  